@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.col-side-left {
  background: -webkit-linear-gradient(295deg, #00B0F0, #00F2D3);
  background: linear-gradient(295deg, #00B0F0, #00F2D3);
  font-family: 'Arial Regular';
  padding-left: 50px;
  align-items: center;
  display: flex;
  color: #ffffff;
}
.col-side-left h1 {
  font-size: 35px;
  margin-bottom: 0px;
  letter-spacing: 6px;
}
.col-side-left h6 {
  font-size: 20px;
  margin-bottom: 0px;
  text-transform: capitalize;
}
.col-side-right {
  background: url('../../assets/images/right_image.jpg');
  background-position: 80% center;
  font-family: 'Arial Regular';
  justify-content: center;
  background-size: cover;
  align-items: end;
  display: flex;
  color: #fff;
}
.box-recruitment-box {
  background: -webkit-linear-gradient(295deg, rgba(255, 0, 0, 0.7), rgba(175, 3, 82, 0.7));
  background: linear-gradient(295deg, rgba(255, 0, 0, 0.7), rgba(175, 3, 82, 0.7));
  justify-content: center;
  align-items: center;
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  height: 150px;
}
.box-recruitment-box a {
  color:#fff;
  text-decoration:none;
  font-size: 14px;
}
.box-recruitment-box a:hover {
  text-decoration:underline;
}
 @media (min-width: 1024px) {
 .col-side-right .container {
 margin-bottom:50px;
 margin-right: 25px;
 margin-left: 25px;
}
 .col-side-right .container .row {
 grid-template-columns: repeat(4, 1fr);
 grid-column-gap: 15px;
 grid-row-gap: 15px;
 display: grid;
}
}
 @media (min-width: 768px) and (max-width: 1024px) {
 .col-side-right .container {
 margin-bottom:50px;
 margin-right: 0px;
 margin-left: 0px;
}
 .col-side-right .container .row {
 grid-template-columns: repeat(2, 1fr);
 grid-column-gap: 5px;
 grid-row-gap: 5px;
 display: grid;
 padding-top:0px;
}
}
 @media (max-width: 767px) {
 .col-side-right .container {
 margin-bottom:50px;
 margin-right: 0px;
 margin-left: 0px;
}
 .col-side-right .container .row {
 grid-template-columns: repeat(2, 1fr);
 grid-column-gap: 5px;
 grid-row-gap: 5px;
 display: grid;
 padding-top:0px;
}
 .box-recruitment-box {
 padding-right:20px;
 padding-left:20px;
}
 .col-side-left div {
 text-align: center;
 padding-top: 30px;
 padding-bottom: 30px;
}
 .mob-padding {
 padding-top:50px !important;
}
 .col-side-left {
 padding-left:0px;
}
}
 @media (min-width: 768px) and (max-width:1366px) {
 .box-recruitment-box {
 height: 110px !important;
}
}
.header_bg {
  background: url('../../assets/images/header-bg.jpg');
  background-size: cover;
  /*height:100%;*/
}

.pt-l-5 {
  padding-top:7rem;
}
/*
.service {
  background: -webkit-linear-gradient( 295deg, rgb(32 62 113 / 78%), rgb(1 165 184 / 75%));
  background: linear-gradient( 131deg, rgb(32 62 113 / 78%), rgb(1 165 184 / 75%));
  margin-top: 100px;
  position: relative;
}
*/
ul li:after {
//    content: url('images/v-line.png');
  position: absolute;
  right: 0px;
    top: -50px;
}
.service ul li {
  width: 13.28%;
  position: relative;
}
.service h5 {
  font-size: 14px;
}
.marginclass{
  padding-right: 6px !important;
  padding-left: 6px !important;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.mergeclass{
  padding-left: 3px !important;
  padding-top: 7px !important;
}
.mergeimg{
  width: 98.1% !important;
}
